

/* ----- VARIABLES ----- */
:root {
	--m-sm: 0.5rem;
	--m: 1rem;
	--m-md: 2rem;
	--m-lg: 3rem;

	--p: 8px;
	--p-md: 16px;
	--p-lg: 24px;
	--p-xl: 36px;

	--r: 7px;
}


/* ----- MAIN ----- */
:root {
	--m-gutter: var(--m);
}
html {
	background-color: var(--color-bg);
	color: var(--color-txt);
	font-family: 'Roboto', sans-serif;
	transition: background-color ease-in-out 0.2s;
	transition: color ease-in-out 0.2s;
}

body {
	height: 100%;
	margin: 0;

	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

h4 {
	color: var(--color-hl);
	margin: 0;
	font-size: 18px;
	font-weight: 800;
}

h3 {
	font-size: 32px;
	margin: var(--p-md) 0;
}

h1 {
	margin: var(--p) 0;
	font-size: 64px;
	line-height: 65px;
	font-family: 'Source Serif Pro', sans-serif;
	font-weight: 800;
}

p {
	font-size: 20px;
}

h2 {
	font-size: 42px;
	line-height: 43px;
	margin: var(--p) 0;
	font-weight: 700;
	font-family: 'Source Serif Pro', sans-serif;
}

a {
	color: inherit;
}
a:hover {
	text-decoration: none;
}

section {
	padding: var(--m-lg) 0;
}

main {
	margin-bottom: auto;
	padding: 0 var(--m-gutter);
}

footer {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid var(--color-fg);
	padding: var(--m-md) var(--m-gutter);
}

footer .footer-links {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	gap: var(--m-md);
	grid-template-columns: 1fr 1fr;
}

.grid {
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: column;
	gap: var(--p-xl);
}

.grid li > img {
	width: 100%;
	height: 100%;
	border-radius: var(--r);	
}

/* ----- PROJECTS ----- */

#projects {
	display: flex;
	flex-direction: column;
	gap: var(--m);
}

.project-item {
	display: grid;
	gap: var(--p-md);
	grid-template-rows: auto auto auto auto;	
	grid-template-columns: 1fr;
	grid-template-areas:
		"title"
		"img"
		"desc"
		"bottom";
}

.project-bottom {
	margin-top: var(--p);
	display: flex;
	gap: var(--p-md);
	font-size: 17px;
	grid-area: bottom;
}

.project-item-info {
	grid-area: desc;
}

.project-item a {
	grid-area: img;
}
	
.project-img-container img {
	width: 100%;
	border-radius: var(--r);
}

/* ----- HEADER ----- */

header {
	display: flex;
	gap: 1rem;
	align-items: center;

	padding: var(--m) var(--m-gutter);
}
#logo {
	display: flex;
	align-items: center;
	gap: var(--p-md);
	margin-right: auto;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
}

#me-icon {
	width: 45px;
	height: 45px;
	border-radius: 100px;
	border: 1px solid var(--color-txt);
}

.nav-links {
	list-style: none;
	padding: 0;
	margin: 0;

	display: none;
	gap: 1rem;
}

.nav-links a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	padding-bottom: var(--p);
	transition: border-bottom-width ease-in-out 0.2s;
}
.nav-links a:hover {
	border-bottom: 4px solid var(--color-fg);
}
.nav-links a:active {
	color: var(--color-fg);
	border-bottom: 4px solid var(--color-hl);
}

.btn {
	background-color: var(--color-fg);
	border: none;
	border-radius: var(--r);
	padding: 6px 10px;
	font-size: 20px;
	color: var(--color-txt);
}
.btn:hover {
	cursor: pointer;
}

#btn-theme {
	border-radius: 100px;
}
#sidebar {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	grid-template-columns: 1fr 225px;
	width: 100%;
}
.d-none {
	display: none;
}
.d-grid {
	display: grid;
}
.noscroll {
	overflow-y: hidden;
}
#sidebar ul {
	grid-column: 2 / 3;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: var(--color-bg);
	border-left: 1px solid var(--color-fg);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar-link {
	display: flex;
	width: 100%;
	padding: var(--m) 0;
	justify-content: center;
}
.sidebar-link:hover, .sidebar-link:active {
	background-color: var(--color-fg);
}

.sidebar-close {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: right;
}
.sidebar-close button {
	background: transparent;
	border: none;
	margin: var(--p);
	border-radius: var(--r);
}
.sidebar-close button:hover {
	cursor: pointer;
	background: var(--color-fg);
}
.sidebar-close button i {

	font-size: 20px;
	padding: var(--p);
	color: var(--color-txt);
}

#sidebar-blocker {
	grid-column: 1 / 2;
	height: 100vh;
	background-color: rgba(43, 43, 43, 0.5);
}


/* ----- HERO ----- */

#hero {
	padding: var(--m) 0;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 2fr 1fr;
	grid-template-areas:
		"title title"
		"buttons orator";
}
.hero-title {
	grid-area: title;
}

.hero-buttons {
	grid-area: buttons;
	display: none;
	align-items: center;
}

#img-orator {
	width: 275px;
	margin-left: auto;
	margin-top: var(--m-md);
	grid-area: orator;

/*	animation-name: fadein;
	animation-duration: 4s;*/
}



/* ----- ABOUT ----- */

#about {
	display: grid;
	gap: var(--m-md);
	grid-template-columns: 100%;
	grid-template-rows: auto auto 1fr;
}

#about p {
	grid-row: 3 / 4;
	grid-column: 1 / 2;
	margin: 0;
}

#about .about-title {
	grid-row: 1 / 2;
	grid-column: 1 / 3;
}

.img-about-container {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

#img-about {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: var(--r);
	border: 1px solid var(--color-txt);
}

/* ----- CONTACT ----- */
#contact ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#contact li {
	padding: var(--p-lg) 0;
	font-size: 25px;
	display: flex;
	gap: var(--p);
	flex-direction: column;
}

.resume-container {
	flex: 4;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact-item-top {
	display: flex;
	align-items: center;
	gap: var(--p-md);
}
.contact-item-bottom {
	font-size: 16px;
}

.b-bottom {
	border-bottom: 1px solid var(--color-fg);
}

/* ----- BREAKPOINTS ----- */

@media only screen and (min-width: 576px) {
	:root {
		--m-gutter: var(--m-lg);
	}
	
	#btn-hamburger {
		display: none;
	}

	#sidebar {
		display: none;
	}

	.nav-links {
		display: flex;	
	}

	footer .footer-links {
		grid-template-columns: 1fr 1fr 1fr;	
	}

	#about {
		grid-template-columns: 200px 1fr;
		grid-template-rows: auto 1fr;
	}
	#about p {
		grid-row: 2 / 3;
		grid-column: 2 / 3;	
	}

	header {	
		padding-top: var(--m-md);
		padding-bottom: var(--m-md);
	}

}

@media only screen and (min-width: 768px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;	
	}

	#about {
		grid-template-columns: 300px 1fr;
	}

	.project-item {
		grid-template-rows: auto auto auto; 
		grid-template-columns: 2fr 1fr;
		grid-template-areas:
			"title title"
			"img desc"
			"bottom bottom";
	}
	.hero-buttons {
		display: flex;
	}
	#hero {
		grid-template-areas:
		"title title"
		"buttons orator";
	}
}

@media only screen and (min-width: 900px) {
	#hero {
		grid-template-areas:
			"title ."
			"buttons orator"
	}
}

@media only screen and (min-width: 1200px) {
	:root {
		--m-gutter: 8%;
	}

	#img-orator {
		width: 375px;
	}

}

@media only screen and (min-width: 1400px) {
	:root {
		--m-gutter: 15%;
	}
}


/* ----- ANIMATIONS ----- */

@keyframes fadein {
	0% { opacity: 0 }
	25% { opacity: 0.1 }
	50% { opacity: 0.4 }
	75% { opacity: 0.9 }
	100% { opacity: 1 }
}
